/*
CSS file for play.html
*/
@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  background-color: grey;
}
h1 {
  color: grey;
  font: "Courier New";
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}
canvas {
   background: white;
   display: block;
   margin: 0 auto;
 }
/* #my-button {
	background-color: transparent;
	height: 8%;
	width: auto;
	color: white;
	text-align: center;
  cursor: auto;
  border-width: 0.5px;
} */
.container {
  text-align: center;
}
